.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  /*Ensures the particles stay fixed in the window even if you scroll*/
  position: fixed;
  /*Ensures the particles are fullscreen*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*Places the particles behind everything else*/
  z-index: -1;
}